/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By Eric Mesquita (ericcbm@gmail.com)
 */
nav {
	overflow: hidden;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.icon-block {
  padding: 0 15px;
}

.logo-apps img {
	max-width: 135px;
	height: auto;
}

ul.side-nav {
 	overflow: hidden; 
}
ul.side-nav li {
	line-height: 44px; 
}
ul.side-nav li:hover, ul.side-nav li.active {
	background-color: rgba(0, 0, 0, 0.05); 
}
ul.side-nav li a {
	display: block;
	font-size: 13px; 
}
ul.side-nav ul.collapsible-accordion {
	background-color: #FFF; 
}
ul.side-nav:hover {
	overflow-y: auto; 
}
ul.side-nav li.logo {
    border-bottom: 1px solid #ddd;
}
ul.side-nav li.logo a {
    font-size: 1.5rem;
    color: #ee6e73;
}

.bold > a {
  font-weight: bold; 
}

.header {
	color: #ee6e73;
	font-weight: 300;
}

#forecast-list figure {
	margin: 0px;
}
#forecast-list img {
	float: left;
	margin-right: 0.82rem;
}
#forecast-list h5, #forecast-list h6 {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
}
#forecast-list {
	border: 0;
	border-right: 1px solid #e0e0e0;
}
#forecast-list.collection.with-header .collection-item {
    padding-left: 20px;
}

#forecast-item .data {
	margin-right: 2.1rem;
}
#forecast-item img {
	margin-top: 1.1rem;
}
#forecast-item figcaption {
	display: table;
	text-align: center;
	width: 128px;
}
#forecast-item p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
#forecast-item .pinned {
	width: 57%;
}

[id^="forecast"] {
    display: none;
}

.image-container {
	width: 100%;
}
.image-container img {
	max-width: 100%;
}
.circular {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	overflow: hidden;
}

.preloader-wrapper.very-small {
	width: 23px;
	height: 23px;
	margin-left: 1rem;
}

#map-canvas { 
	height: 100%; 
	width: 100%;
	position: absolute;
	margin: 0; 
	padding: 0;
}

#load {
    margin-top: 10%;
    text-align: center;
}

.hidden {
    display: none !important;
}

#forecast-list, #forecast-item .toc-wrapper, .page-footer {
    -webkit-animation-duration: 0.5s;
}

/*SMARTPHONE*/
@media only screen and (max-width : 600px) {
	html {
		font-size: 80%; 
	}
	h2 {
		font-size: 3rem;
	}
	#forecast-list h5 {
		font-size: 1.2rem;
	}
	#forecast-list h6 {
		font-size: 1rem;
	}
}

/*TABLET AND SMARTPHONE*/
@media only screen and (max-width : 992px) {
    .collection .collection-item.active {
        background-color: #ffffff;
        color: #26a69a;
    }
}

/*DESKTOP*/
@media only screen and (min-width : 993px) {
}

/*FIX VERY SMALL SCREEN*/
@media only screen and (max-width : 357px) {
    #forecast-item .data h1{
         font-size: 3.5rem;
     }
    #forecast-item .data p{
        font-size: 79%;
    }
}


/*RADIAL ACTION ANIMATION*/
.arrow {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    width: 38px;
}
.arrow:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 30px;
    top: 30px;
    opacity: 1;
    border-radius: 100%;
    background-color: #fff;
}
.arrow .icon-line {
    position: absolute;
    left: 5px;
    height: 3px;
    width: 26px;
    background-color: #fff;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
}
.arrow .icon-line:first-child {
    -webkit-transform-origin: center 10px;
    -ms-transform-origin: center 10px;
    transform-origin: center 10px;
    top: 19px;
}
.arrow .icon-line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
.arrow .icon-line:last-child {
    -webkit-transform-origin: center -6px;
    -ms-transform-origin: center -6px;
    transform-origin: center -6px;
    bottom: 20px;
}
.arrow.anim.in:before, .arrow.anim.out:before {
    width: 100px;
    height: 100px;
    left: -20px;
    top: -20px;
    opacity: 0;
}
.arrow.in .icon-line {
    border-radius: 0;
}
.arrow.in .icon-line:first-child {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    width: 18px;
    top: 18px;
    left: 14px;
}
.arrow.in .icon-line:nth-child(2) {
    width: 23px;
    left: 11px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.arrow.in .icon-line:last-child {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 18px;
    bottom: 20px;
    left: 13px;
}
.arrow.out .icon-line:first-child {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.arrow.out .icon-line:nth-child(2) {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.arrow.out .icon-line:last-child {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.arrow.no-trans .icon-line {
    -webkit-transition: none;
    transition: none;
}